package="pigeonbox"
version="__VERSION__"
displayname="PigeonBox 文件快递柜"
description="匿名口令分享文本与文件:寄件生成口令,对方凭口令取件,到期自动销毁。基于官方 Docker 镜像的 docker-compose 编排,装完即用,数据落本地共享目录。"
arch="noarch"
os_min_ver="7.2-64570"
maintainer="PigeonBox"
maintainer_url="https://github.com/pigeonbox/pigeonbox"
distributor="PigeonBox"
distributor_url="https://github.com/pigeonbox/pigeonbox"
support_url="https://github.com/pigeonbox/pigeonbox"
thirdparty="yes"
# ContainerManager 24.0.2-1535 起官方支持 `docker compose` v2 子命令(DSM 7.2.1+),
# 这是本包的编排依赖基线;DSM 7.0/7.1(Docker 套件时代)不支持
install_dep_packages="ContainerManager>=24.0.2-1535"
ctl_stop="yes"
silent_install="no"
silent_upgrade="no"
silent_uninstall="no"
adminprotocol="http"
adminport="12345"
checksum="__CHECKSUM__"
